<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>libvirt CI new package message</title>
    </head>
    <body>
        You can download this package directly from the following link:
        <br/>
        <pre>{{ repo_list }}</pre>
        Or you can install it by using following commands:
        <br/>
        <pre>{{ brew_cmd }}</pre>
        And you can install brew command from rhpkg repo (already attached)
        <br/>
        The latest packages related to libvirt project are listed <a href="https://docs.google.com/spreadsheets/d/1sJ6PlgmJjwrSCpqK332S0uwiWr4EcRwO74gN0YeI67g#gid=1304791254">here</a>
        <br/>
        This message was sent by <a href="https://libvirt-jenkins.rhev-ci-vms.eng.rdu2.redhat.com">libvirt CI</a>
         <br/>
        You are receiving this notification because you are
        registered as watching {{ package }} in <a href="https://docs.google.com/spreadsheets/d/1sJ6PlgmJjwrSCpqK332S0uwiWr4EcRwO74gN0YeI67g#gid=54133107">this spreadsheet</a>
    </body>
</html>
