[Unit]
Description=Jenkins swarm JNLP connect service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -Xmx2048m -jar /root/swarm-client.jar -master {{ jenkins_master }} -name {{ worker_name }} -labels {{ label_name }} -executors {{ executors }} -fsroot /home/jenkins -mode exclusive -disableSslVerification -deleteExistingClients -disableClientsUniqueId -username libvirt-jenkins -password b07e5009ee8552a46fe688eb9a9e2fe1
ExecStop=/bin/kill -9 $MAINPID
Restart=always

[Install]
WantedBy=default.target
